[user]
	email = samlehman617@gmail.com
	name = Sam Lehman
[core]
	editor = vim
	excludesfile = /home/sam/.gitignore_global
	autocrlf = true
[commit]
	template = 
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
