[user]
	email = samlehman617@gmail.com
	name = Sam Lehman
[core]
	editor = vim
	excludesfile = /home/sam/.gitignore_global
	autocrlf = false
[commit]
	template =
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[credential]
	helper = cache --timeout 14400
[alias]
    co = checkout
    cm = commit
    p = push
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    st = status
